{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/listing.css' %}">
{% endblock  %}
{% block title %} Author List {% endblock  %}

{% block content %}
    <h2>Book List</h2>

    <div class="mb-3">
        <a href="{% url 'books:book_create' %}" class="btn btn-success mb-3">Add New Book</a>
    </div>

    <div class="book-grid">
    {% for book in books %}
        <div class="card">

            <img class="card-img-top" src="..." alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p>by {{ book.author }}</p>
                <p class="card-text">{{ book.body|truncatewords:40 }}</p>

                <a href="{% url 'books:book_detail' book.id %}" class="btn btn-primary mt-auto">
                    See Details
                </a>
            </div>

        </div>
    {% endfor %}
    </div>

    {% include "includes/pagination.html" %}

{% endblock  %}