{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/table_striped.css' %}">
{% endblock  %}
{% block title %} Genres {% endblock %}

{% block content %}
    <h2>Genres</h2>

    <table class="table-striped">
        <thead>
            <th scope="col">S No.</th>
            <th scope="col">Genre</th>
            <th scope="col">Books_Count</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            {% for genre in genres %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'books:genre_detail' genre.pk %}">{{ genre }}</a></td>
                <td>{{ genre.books_count }}</td>
                <td><a href="{% url 'books:search_book_genre' genre.pk %}" class="btn btn-primary">Browse</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "includes/pagination.html" %}
    
{% endblock  %}