{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/table_striped.css' %}">
{% endblock  %}
{% block title %} Genres {% endblock %}

{% block content %}
    <h2>Genres</h2>

    <div class="mb-3">
        <a href="{% url 'books:genre_create' %}" class="btn btn-success mb-3">Add New Genre</a>
    </div>

    <table class="table-striped">
        <thead>
            <tr>
            <th scope="col">S No.</th>
            <th scope="col">Genre</th>
            <th scope="col">Books_Count</th>
            <th scope="col">Edit / Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'books:genre_detail' genre.pk %}">{{ genre }}</a></td>
                <td>{{ genre.books_count }}</td>
                <td>
                    <a href="{% url 'books:genre_update' genre.pk%}" class="btn btn-primary">Edit</a>
                    <form action="{% url 'books:genre_delete' genre.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                </tr>
            <tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "includes/pagination.html" %}
    
{% endblock  %}