{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/table_striped.css' %}">
{% endblock  %}
{% block title %} Author List {% endblock  %}

{% block content %}

    <div class="my-2">
        {% include "dashboard/includes/dashboard_navbar.html"  with section="books"%}
    </div>

    <h2>Book List</h2>

    <div class="mb-3">
        <a href="{% url 'books:book_create' %}" class="btn btn-success mb-3">Add New Book</a>
    </div>

    <table class="table-striped">
        <thead>
            <th scope="col">S No.</th>
            <th scope="col">Book Title</th>
            <th scope="col">Author</th>
            <th scope="col">Genres</th>
            {% if request.user.is_superuser %}
            <th scope="col">Edit / Delete</th>
            {% else %}
            <th scope="col">Edit</th>
            {% endif %}
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'books:book_detail' book.pk %}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.genres.all | join:", " }}</td>
                <td>
                    {% if request.user.is_superuser %}
                    <a href="{% url 'books:book_update' book.pk %}" class="btn btn-primary">Edit</a>
                    <form action="{% url 'books:book_delete' book.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</button>
                    </form>
                    {% else %}
                    <a href="{% url 'books:book_update' book.pk %}" class="btn btn-primary">Edit</a>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "includes/pagination.html" %}

{% endblock  %}